[Unit]
After=i3.service

[Service]
ExecStart=/usr/local/bin/keys.sh
KillMode=process
Restart=oneshot
Environment=DISPLAY=:0  # Set the appropriate display number

[Install]
WantedBy=multi-user.target
